.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  border-width: 0px;
  background-color: var(--dl-color-primary-100);
}
.navigation-links-navlink {
  margin-left: var(--dl-space-space-twounits);
  border-width: 0px;
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
  border-width: 0px;
  background-color: var(--dl-color-primary-100);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
  border-width: 0px;
  background-color: var(--dl-color-primary-100);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
  border-width: 0px;
  background-color: var(--dl-color-primary-100);
}








